---
const apkUrl = 'https://github.com/turcaman/turcanime/releases/download/v1.8.1-202605170900/turcanime-1.8.1.apk';
const version = 'v1.8.1';
---

<a
	href={apkUrl}
	class="btn-primary inline-flex items-center justify-center min-w-[140px]"
	download
>
	Descargar app {version}
</a>