---
const apkUrl = 'https://github.com/turcaman/turcanime/releases/download/v1.7.6-202605020203/turcanime-1.7.6.apk';
---

<a
	href={apkUrl}
	class="btn-primary-flat inline-flex items-center justify-center min-w-[140px]"
	download
>
	DESCARGAR
</a>
