---
const apkUrl = 'https://github.com/turcaman/turcanime/releases/download/v1.10.0/turcanime-1.10.0.apk';
---

<a
	href={apkUrl}
	class="btn-primary inline-flex items-center justify-center min-w-[140px]"
	download
>
	Descargar APK
</a>
