---
const apkUrl = 'https://github.com/turcaman/turcanime/releases/download/v1.9.9-202606290703/turcanime-1.9.9.apk';
---

<a
	href={apkUrl}
	class="btn-primary inline-flex items-center justify-center min-w-[140px]"
	download
>
	Descargar APK
</a>
