---
const apkUrl = 'https://github.com/turcaman/turcanime/releases/download/v1.9.0-202606270135/turcanime-1.9.0.apk';
const version = 'v1.9.0';
---

<a
	href={apkUrl}
	class="btn-primary inline-flex items-center justify-center min-w-[140px]"
	download
>
	Descargar app {version}
</a>