---
const apkUrl = 'https://github.com/turcaman/turcanime/releases/download/v1.9.3-202606270835/turcanime-1.9.3.apk';
const version = 'v1.9.3';
---

<a
	href={apkUrl}
	class="btn-primary inline-flex items-center justify-center min-w-[140px]"
	download
>
	Descargar app {version}
</a>