---
const apkUrl = 'https://github.com/turcaman/turcanime/releases/latest/download/turcanime-1.7.5.apk';
---

<a 
	href={apkUrl} 
	class="btn-primary-flat inline-flex items-center justify-center min-w-[140px]"
	download
>
	DESCARGAR APK
</a>
