---
const apkUrl = 'https://github.com/turcaman/turcanime/releases/download/v1.9.6-202606280833/turcanime-1.9.6.apk';
---

<a
	href={apkUrl}
	class="btn-primary inline-flex items-center justify-center min-w-[140px]"
	download
>
	Descargar APK
</a>
